---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div draggable="true" class="card-cont">
	<div class="banner">
		asdasdasd
	</div>
	<div class="content" >
sdf
	</div>
</div>


<style>
	.card-cont{
		margin: auto;
		border-radius: 11px;
		width: 40vw ;
		height: 20vh;
		box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.65);
	}
.banner{
	padding: 1rem;
	background-color: rgba(56, 56, 61, .6);
    box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.65);
	backdrop-filter: blur(15px) saturate(86%);
    border-radius: 11px 11px 0 0;    
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
	color: #fff;
    unicode-bidi: isolate;

}
.content{
	color: #fff;
	height: 100%;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgba(0, 0, 0, .75);
	border-radius: 0 0 11px 11px;
    -webkit-backdrop-filter: none;
	position: relative;
	display: flex;
    -webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
	flex-direction: column;
    min-block-size: 1px;
	-webkit-backdrop-filter: none;
}
</style>
